body {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  margin: 0;

  font: inherit;
  font-size: 100%;
  line-height: 1.15;

  background: none;
  border: 0;
}

body {
  display: block;

  margin: 0;
  padding: 0;

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
/* 
@media (width >=1120px) {
  body {
    font-size: 1.125rem;
  }
} */
